<h1 mat-dialog-title>Event Form</h1>
<div mat-dialog-content>
  <form [formGroup]="eventForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="productName" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Type Event</mat-label>
      <mat-select [disabled]="false">
        <mat-option value="option1">Principal</mat-option>
        <mat-option value="option2">Shared</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="datepicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Select</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
    <label id="example-radio-group-label">Pick your favorite season</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let eventType of eventTypes" [value]="eventType">
        {{eventType}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Number</mat-label>
      <input matInput type="number" placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" mat-raised-button color="primary">Save</button>
</div>
