.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}


mat-form-field{
  width: 100%;
}


table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.container{
  max-width: 1200px;
  margin: 0 auto;
}

.datepicker, .dateTime {
  width: 200px;
  margin: 10px 20px 10px 0;
}

.contentTime{
  display: flex;
  text-align: center;
}
