<h1 mat-dialog-title>Event Form</h1>
<div mat-dialog-content>
  <form [formGroup]="eventForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker"
                      placeholder="Choose a date"

                      [min]="minDate" [max]="maxDate"
                      [disabled]="disabled">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker
        [showSpinners]="showSpinners"
        [showSeconds]="showSeconds"
        [stepHour]="stepHour" [stepMinute]="stepMinute"
        [stepSecond]="stepSecond"
        [touchUi]="touchUi"
        [color]="color">
      </ngx-mat-datetime-picker>
    </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input formControlName="creationDate" matInput [matDatepicker]="datepicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Select</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Place</mat-label>
      <input formControlName="place" matInput placeholder="place">
    </mat-form-field>
    <label id="example-radio-group-label">Select Type Event</label>
    <mat-radio-group formControlName="typeEvent" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="eventTypeSelected">
      <mat-radio-button class="example-radio-button" *ngFor="let eventType of eventTypes" [checked]="eventType === eventTypeSelected" [value]="eventType">
        {{eventType}}
      </mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="saveEvent()">Save</button>
</div>
