<div class="row">
  <div class="column">
    <div class="card">
      <mat-card class="calendar-card">
        <mat-card-header>
          <mat-card-title>{{schedule?.Name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="schedule?.ScheduleId">
          <full-calendar #calendar [options]="calendarOptions">
            <ng-template #eventContent let-arg>
              <div [ngbTooltip]="tipContent" tooltipClass="my-freaky-tooltip">
                <mat-icon [ngStyle]="{'color': arg.event.extendedProps.colorEvent}">
                  {{arg.event.extendedProps.iconEvent}} </mat-icon>
                <i style="margin-left: 5px;">{{ arg.event.start | date: 'shortTime' }}</i>
                <br>
                <i style="margin-left: 15px;"><b>{{ arg.event.title }}</b></i>
              </div>
            </ng-template>
          </full-calendar>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="createSchedule()" [disabled]="schedule?.ScheduleId">Add Calendar</button>
          <button mat-raised-button color="warn"  (click)="removeSchedule()" [disabled]="!schedule?.ScheduleId">Remove Calendar</button>
          <div mat-dialog-actions align="end">
            <mat-icon style="color: #ff9900;">star</mat-icon>
            <mat-label>Private</mat-label>
            <mat-icon style="color: blue;">share</mat-icon>
            <mat-label>Shared</mat-label>
            <mat-icon style="color: green;">co_present</mat-icon>
            <mat-label>Other User</mat-label>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <mat-card *ngIf="schedule?.ScheduleId" class="events-card">
        <mat-card-header>
          <mat-card-title>Events Shared</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-search-event #searchEventComponent [scheduleId]="schedule?.ScheduleId" [showShared]="true"
            (onAddSharedEvent)="getScheduleByUserId()"></app-search-event>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #tipContent>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Event Info</mat-card-title>
      <mat-card-subtitle>{{eventSelected.CreationDate | date: 'dd/MM/yyyy, H:mm'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-label><b>Name:</b> {{eventSelected.Name}}</mat-label><br>
      <mat-label><b>Description:</b> {{eventSelected.Description}}</mat-label><br>
      <mat-label><b>Place:</b> {{eventSelected.Place}}</mat-label><br>
      <mat-label><b>Type Event:</b> {{eventSelected.TypeEventName}}</mat-label><br>
      <mat-label *ngIf="!eventSelected.ParentEventId"><b>Is Event Own</b></mat-label>
      <mat-label *ngIf="eventSelected.ParentEventId"><b>Is Event Other User</b></mat-label>
    </mat-card-content>
  </mat-card>
</ng-template>
