* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 16px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        display: inline;
    }
}

#tipContent {
    width: 500px !important;
}

div mat-label {
    margin-right: 10px;
}
